.page.theme_light {
    --bg-color: #353430;
    --title-color: #FFC2E6;
    --header-color: #353430;
    --subheader-color: #353430;
    --text-color: #353430;
    --menu-color: #353430;
    --shadow-color: #FF0070;
    --link-shadow-color: #FF8DCB;
    --accent-color: #FF8DCB;
    --corner-color: #353430;
    --accent-color-alpha40: rgba(50, 49, 45, 0.4);
    --bg-img: url("../images/cover-image-light.png");
}

.theme_light .header__topcorner {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #353430;
        --title-color: #FFC2E6;
        --header-color: #353430;
        --subheader-color: #353430;
        --text-color: #353430;
        --menu-color: #353430;
        --shadow-color: #FF0070;
        --link-shadow-color: #FF8DCB;
        --accent-color: #FF8DCB;
        --corner-color: #353430;
        --accent-color-alpha40: rgba(50, 49, 45, 0.4);
        --bg-img: url("../images/cover-image-light.png");
    }
}